@page "/"
@using Dependify.Core
@using Dependify.Core.Graph
@using Depends.Core.Graph
@using Microsoft.Extensions.Options
@using static Dependify.Core.SolutionRegistry

@inject SolutionRegistry SolutionRegistry
@inject ISnackbar Snackbar
@inject IOptions<MsBuildConfig> MsBuildConfig

<PageTitle>Dependify</PageTitle>

<MudToolBar>
    <MudText Typo="Typo.h4">Workbench ⚙️</MudText>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Material.Outlined.PlayCircleFilled" Size="Size.Large" Color="Color.Primary" OnClick="@AnalyzeSolution" />
    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" AdornmentIcon="@Icons.Material.Filled.RocketLaunch"
        AdornmentColor="Color.Primary" @bind-Value="selectedSolution" Typo="Typo.h6" Label="Solution">
        @foreach (var solutionNode in solutionNodes)
        {
            <MudSelectItem Value="@solutionNode.Id" />
        }
    </MudSelect>
</MudToolBar>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudPaper Class="pa-8 ma-8" Elevation="3">
        @if (displayMode == DisplayMode.All)
        {
            <MudSimpleTable Style="overflow-x: auto;" Dense="true" Hover="true" Bordered="true" Striped="true">
                <thead>
                    <tr>
                        <th><MudText Typo="Typo.h6">Name</MudText></th>
                        <th><MudText Typo="Typo.h6">Path</MudText></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var node in nodes)
                    {
                        <tr>
                            @if (node.Type == "Solution")
                            {
                                <td><MudText Color="Color.Secondary">@node.Id</MudText></td>
                            }
                            else
                            {
                                <td><MudText Style="@($"color:{Colors.Teal.Lighten1}")">@node.Id</MudText></td>
                            }
                            <td><MudText>@node.DirectoryPath.RemovePrefix(commonPrefix)</MudText></td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        }
        else
        {
            <MudSimpleTable Style="overflow-x: auto;" Dense="true" Hover="true" Bordered="true" Striped="true">
                <thead>
                    <tr>
                        <th><MudText>Name</MudText></th>
                        <th><MudText>Depends On Projects</MudText></th>
                        <th><MudText>Used By Projects</MudText></th>
                        <th><MudText>Depends On Packages</MudText></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in projects)
                    {
                        <tr>
                            @if (project.Node.Type == "Solution")
                            {
                                <td><MudText Color="Color.Secondary">@project.Node.Id</MudText></td>
                            }
                            else
                            {
                                <td><MudText Style="@($"color:{Colors.Teal.Lighten1}")">@project.Node.Id</MudText></td>
                            }
                            <td><MudText Style="@($"color:{Colors.Teal.Lighten1}")">@project.DependsOnProjects</MudText></td>
                            <td><MudText Style="@($"color:{Colors.Teal.Lighten3}")">@project.UsedBy</MudText></td>
                            <td><MudText Style="@($"color:{Colors.Lime.Darken3}")">@project.DependsOnPackages</MudText></td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        }
    </MudPaper>
</MudContainer>

@code {
    private List<Node> nodes = [];

    private List<SolutionReferenceNode> solutionNodes = [];

    private string? selectedSolution;

    private List<NodeUsageStatistics> projects = [];

    private string? commonPrefix;

    private DisplayMode displayMode = DisplayMode.All;

    protected override Task OnInitializedAsync()
    {
        SolutionRegistry.SetSolutionRegistryListener(new((solution, finish) => {
            Snackbar.Add($"Loaded - {solution.Id}", Severity.Success);

            if(finish)
            {
                Snackbar.Add($"Loaded all solutions", Severity.Success);
            }
        }));

        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;

        nodes = SolutionRegistry.Nodes.ToList();

        commonPrefix = Utils.CalculateCommonPrefix(nodes);

        solutionNodes = SolutionRegistry.Solutions.ToList();

        selectedSolution = SolutionRegistry.Solutions.FirstOrDefault()?.Id;

        return Task.CompletedTask;
    }

    private void AnalyzeSolution()
    {
        var solution = solutionNodes.FirstOrDefault(n => n.Id == selectedSolution);

        if(solution is null)
        {
            Snackbar.Add($"Select the solution to analyze", Severity.Error);
        }
        else if(SolutionRegistry.GetGraph(solution) is var graph && graph is not null)
        {
            projects = graph
                .Nodes
                .OfType<ProjectReferenceNode>()
                .Select(n => SolutionRegistry.GetDependencyCount(solution, n)).ToList();

            displayMode = DisplayMode.Solutions;
        }
        else
        {
            Snackbar.Add($"Analyzing - {selectedSolution}, please wait...", Severity.Normal);
        }
    }

    private void SetDiagnosticSource(MsBuildService msBuildService) =>
        msBuildService.SetDiagnosticSource(
            new(
                project => Snackbar.Add($"Loading - {project.Id}", Severity.Normal),
                project => Snackbar.Add($"Loaded - {project.ProjectFilePath}", Severity.Success)
            )
        );

    private enum DisplayMode
    {
        All,
        Solutions,
    }
}
